<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dist/tailwind.css" />
    <link rel="icon" href="logo.png" />
    <title>Warehouse of Advices</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet" />
  </head>
  <body class="font-['Ubuntu'] bg-gray-100">
    <header>
      <div
        class="flex justify-around items-between gap-52 bg-blue-700 p-4 w-full">
        <h1 class="text-3xl text-white font-bold text-shadow-md">
          Warehouse of Advices
        </h1>
        <nav class="flex justify-center items-center">
          <a href="/" class="text-lg text-white hover:underline mx-2">Home</a>
          <a href="/about" class="text-lg text-white hover:underline mx-2"
            >About</a
          >
          <a href="/contact" class="text-lg text-white hover:underline mx-2"
            >Contact</a
          >
        </nav>
      </div>
    </header>
  </body>
</html>
